/*main 右板块*/
@media screen and (min-width: 120rem) {
	.main-right{
		padding-left: 3rem;
	}
}

@media screen and (max-width: 767px){
	.main-right{
		padding: 0;
	}
}


/*分享达人板块*/
.share{
	margin-top: 3rem;
}

.share .share-header th{
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.share .share-people{
	text-align: center;
}

table.share > tbody > tr > th.share-num{
	vertical-align: middle;
	text-align: center;
}

.share .share-member{
	color: #333;
	text-decoration: none;
}

.share .share-member:hover{
	color: #018afe;
}

.share .share-member img{
	margin-right: 0.3rem;
	margin-left: 0.5rem;
        width: 30px;
        height:30px;
}

.share .share-num span,.hotWatch span,.hotComment span{
	border-radius: 0.3rem ;
	color:#fff;
	
}

span.hot1,span.hot2,span.hot3,span.hot{
	width:18px;
	display: block;
	text-align: center;
	line-height: 18px;
}

.hotWatch span.glyphicon-eye-open,.hotComment span.glyphicon-eye-open{
	color: #999;
}

.hotWatch table tr th a span:first-child,.hotComment table tr th a span:first-child,.hotWatch table tr th span.glyphicon-eye-open,.hotComment table tr th span.glyphicon-eye-open{
	margin-right: 0.5rem;
}

.share-num p{
	margin-bottom: 0;
}

/*手机屏幕时，分享达人头像改成30px*/
@media (max-width: 768px){
	.share-member img{
		width: 3rem;
	}
}

.hot1 {
	background-color:#ed1d1d;
	margin-left: 0.6rem;
}

.hot2{
	background-color: #ff8547;
	margin-left: 0.6rem;
}

.hot3{
	background-color: #ffac38;
	margin-left: 0.6rem;
}

.hot{
	background-color: #8eb9f5;
	margin-left: 0.6rem;
}
